.all {
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
  height: 100%;
  width: 100%;
  overflow: scroll;
  /* background-color: red; */
  flex: 1;
}

.ref {
  padding: 2rem;
  width: 100%;
  text-align: center;
  color: var(--text);
  .hidden {
    opacity: 0;
  }
}


