.all {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  flex: 1;
}

.ref {
  padding: 2rem;
  width: 100%;
  text-align: center;
  color: var(--text);
  .hidden {
    opacity: 0;
  }
}
