:root {
  --black: #000;
  --white: #fff;
  --primary: #952eb4;
  --text: #000;
  --text-reverse: #fff;
  --text-reverse-val: 254, 254, 254;
  --prof-1-bg: #712c4a57;
  --prof-1-txt: #ff006e;
  --prof-1-border: #ff006faa;

  --prof-2-bg: #ffd60a2a;
  --prof-2-txt: #ffd60a;
  --prof-2-border: #ffd60abb;

  --prof-3-bg: #06d6a02a;
  --prof-3-txt: #06d6a0;
  --prof-3-border: #06d6a0bb;

  --prof-4-bg: #4cc9f02a;
  --prof-4-txt: #4cc9f0;
  --prof-4-border: #4cc9f0bb;

  --color-1: #f3f3f3;
  --color-2: #ffffff;
  --color-3: rgb(175, 175, 175);
}

[color-mode='dark'] {
  --text: #fff;
  --text-reverse: #000;
  --text-reverse-val: 0, 0, 0;
  --color-1: #343434;
  --color-2: #1a1a1a;
}
