.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 3rem 0.5rem 4rem;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
  p {
    transition: color 0.4s;
    color: var(--text);
  }
  .svg {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    color: var(--text);
    border-radius: 1rem;
    padding: 1.35rem;
    height: 4rem;
    width: 4rem;
    transition: background-color 0.4s, color 0.4s;
  }
}

.contact:hover {
  p {
    color: var(--white);
  }
  .svg:hover {
    color: var(--white);
    background-color: red;
  }
  background-color: var(--primary);
}
