.left {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.input-wrapper {
  margin-bottom: 2.5rem;
}

.input-wrapper-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.error-message-container {
  position: relative;
  width: 100%;
}

.input-radio {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid;
  transition: 0.4s;
  cursor: pointer;
}

.input-radio:hover {
  opacity: 0.8;
}

.save-changes {
  padding: 1rem;
  border: none;
  width: 100%;
  color: var(--white);
  background-color: var(--primary);
  font-size: var(--fz-m);
  border-radius: 0.7rem;
}
.save-changes:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media screen and (min-width: 768px) {
  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    flex-direction: row;
  }
  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
    transform: translateY(-10%);
    width: 35%;
  }
  .right {
    width: 65%;
  }
}
