.recipient-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  height: 6rem;
  min-height: 6rem;
  flex-shrink: 0;
  border-bottom: 1px solid var(--color-1);
  --size: 3.5rem;
  color: var(--text);
}

.svg {
  border: none;
  border-radius: 1rem;
  background: none;
  width: var(--size);
  padding: 1rem;
  color: var(--text);
  transition: background-color 0.4s, color 0.4s;
}

.svg:hover {
  color: var(--white);
  background-color: var(--primary);
}
