.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  height: 100dvh;
  max-height: 100vh;
  max-height: 100dvh;
  width: 100%;
}

.contacts-list {
  list-style: none;
}

@media (min-width: 992px) {
  .side-bar {
    border-right: 1px solid var(--color-1);
    width: 35%;
    min-width: 37rem;
  }
}
