.chat-container {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100dvh;
  width: 100%;
}
.inside {
  transform: translateY(-50%);
  font-size: var(--fz-l);
  h2 {
    text-align: center;
    margin-top: 2rem;
  }
  span {
    color: var(--primary);
  }
}

@media (min-width: 992px) {
  .chat-container {
    display: flex;
    width: 65%;
  }
}
@media (min-width: 1200px) {
  .chat-container {
    width: 100%;
  }
}
