.message {
  --padding: 1.5rem;
  position: relative;
  padding: var(--padding) var(--padding) 2rem;
  min-width: 20rem;
  max-width: 40vw;
  margin: 0.2rem 1rem;
  background-color: var(--color-1);
  border-radius: 1rem;
  color: var(--text);
}

.margin {
  margin-top: 2.5rem;
}

.content {
  color: inherit;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.date {
  width: 100%;
  text-align: center;
  color: var(--color-3);
  padding: 1rem 0;
}

.name,
.time {
  position: absolute;
  color: rgba(var(--text-val), 0.5);
}

.name {
  max-width: 100%;
  left: 10px;
  top: calc(-1 * (var(--padding) + 5px));
  font-size: var(--fz-s);
}

.time {
  right: 10px;
  font-size: var(--fz-xs);
}

.add-padding {
  margin-bottom: 1rem;
}

.img {
  margin-bottom: 1rem;
  border-radius: 0.7rem;
}
